@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald:wght@300&display=swap');
.charsheet {
  font-family: 'Oswald', sans-serif;
}
h1{
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.sheet-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #000;
  width: 100%;
}

/* Update the Dice Pool indicator  */
.sheet-box-indicator button,
.sheet-box-api-indicator button,
.sheet-dice-rolls-roll button {
  z-index: 1;
  color: #fff;
  border: 1px solid #000;
  background: #a60100;
  box-shadow: 0 2px 4px 2px #000;
}

.sheet-dice-rolls-roll button[type="action"] span {
  color: white;
}

.sheet-box-indicator button:hover,
.sheet-box-api-indicator button:hover,
.sheet-dice-rolls-roll button:hover {
  border: 1px solid #a60100;
  box-shadow: 0 1px 2px 1px #000;
}

.sheet-box-indicator,
.sheet-box-api-indicator {
  position: relative;
  display: flex;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  border-radius: 4px;
  box-shadow: 0 2px 15px transparent;
  max-height: 24px;
}

.sheet-box-indicator::after {
  z-index: 0;
  width: 3.75em;
  margin: 0 0 -2px -5.25em;
  content: "";
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  border: 10px solid #a60100;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 2px 10px 5px #a60100;
  max-height: 20px;
}

.sheet-box-api-indicator::after {
  z-index: 0;
  width: 7.5em;
  margin: -2px 0 -4px -9em;
  content: "";
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  border: 10px solid #a60100;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 2px 10px 5px #a60100;
}

.sheet-roll-indicator:checked ~ .sheet-box-indicator::after,
.sheet-roll-indicator:checked ~ .sheet-box-api-indicator::after {
  opacity: 1;
}

.charsheet .sheet-wrapper {
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -50px;
  width: 280px;
  justify-items: center;
  color: #000;
  outline: 2px solid #000;
  padding: 5px 0 0 0;
}

button[type="action"] {
  border-radius: 5px;
}

.sheet-character-grid {
  display: grid;
}

.sheet-character-dice_pool {
  padding: 0;
  -margin: -2px 0px 0 0px;
  border: 3px solid #000;
  overflow: hidden;
}

.sheet-character-skill-dice-box {
  display: flex;
  width: 100%;
  -justify-content: space-evenly;
  padding: 0;
  border: none;
  grid-column: 1/span 2;
  grid-row-start: 4;
  overflow: hidden;
}

.sheet-character-dice_pool {
  min-width: 19em;
  width: 50%;
  -max-width: 21em;
  -background-color: #ffffea;
}

input.sheet-dice_only:checked ~ div.sheet-character .sheet-character-dice_pool {
  width: 100%;
}

input.sheet-dice_only:checked
  ~ div.sheet-character
  .sheet-box.sheet-character-skill-dice-box {
  display: flex;
  min-width: 20em;
  -margin-top: -1.5em;
  grid-column: 1/4;
  justify-self: center;
}


.sheet-dice-header {
  grid-area: sheet-dice-header;
}

.sheet-dice_pool-grid {
  display: grid;
  grid-template-areas:
    "sheet-dice-header sheet-dice-header sheet-dice-header"
    "sheet-dice-base sheet-dice-skill sheet-dice-gear"
    "sheet-dice-rolls sheet-dice-rolls sheet-dice-rolls"
    "sheet-dice-rolls-clear sheet-dice-rolls-clear sheet-dice-rolls-d66"
    "sheet-dice-rolls-api sheet-dice-rolls-api sheet-dice-rolls-d666"
    "sheet-dice-rolls-info sheet-dice-rolls-info sheet-dice-rolls-init";
  grid-template-columns: 1fr 1fr 1fr;
}

.sheet-dice-base {
  display: grid;
  margin: 0;
  padding: 2px 2px 0 2px;
  text-align: center;
  border: 1px solid #000;
  -background-color: white;
  background-color: rgb(209, 201, 112);
  grid-area: sheet-dice-base;
  grid-template-areas: "sheet-dice-base-header sheet-dice-base-header" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2" "sheet-dice-base-col1 sheet-dice-base-col2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5em 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.sheet-dice-base-header {
  grid-area: sheet-dice-base-header;
}

.sheet-dice-base-col2 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-base-col2;
}

.sheet-dice-base-col1 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-base-col1;
}

.sheet-dice-skill {
  display: grid;
  margin: 0;
  padding: 2px 2px 0 2px;
  text-align: center;
  -color: #fff;
  color: #000;
  border: 1px solid #000;
  -background-color: #db5f5f;
  background-color: #57aa57;
  grid-area: sheet-dice-skill;
  grid-template-areas: "sheet-dice-skill-header sheet-dice-skill-header" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2" "sheet-dice-skill-col1 sheet-dice-skill-col2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5em 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.sheet-dice-skill-header {
  grid-area: sheet-dice-skill-header;
}

.sheet-dice-skill-col2 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-skill-col2;
}

.sheet-dice-skill-col1 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-skill-col1;
}

.sheet-dice-gear {
  display: grid;
  margin: 0;
  padding: 2px 2px 0 2px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  background-color: #404040;
  grid-area: sheet-dice-gear;
  grid-template-areas: "sheet-dice-gear-header sheet-dice-gear-header" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2" "sheet-dice-gear-col1 sheet-dice-gear-col2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5em 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.sheet-dice-gear-header {
  grid-area: sheet-dice-gear-header;
}

.sheet-dice-gear-col2 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-gear-col2;
}

.sheet-dice-gear-col1 {
  display: flex;
  flex-direction: column;
  grid-area: sheet-dice-gear-col1;
}

.sheet-dice-rolls {
  display: grid;
  justify-content: space-between;
  padding: 5px;
  grid-area: sheet-dice-rolls;
  grid-template-areas: "sheet-dice-rolls1 sheet-dice-rolls2";
  grid-template-columns: 1fr 1fr;
}

.sheet-dice-rolls {
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "sheet-dice-roll sheet-dice-roll sheet-dice-roll"
    "sheet-dice-rolls-clear sheet-dice-rolls-clear sheet-dice-rolls-d66"
    "sheet-dice-rolls-api sheet-dice-rolls-api sheet-dice-rolls-d666"
    "sheet-dice-rolls-init";
}

.sheet-dice-roll-input {
  grid-area: sheet-dice-rolls;
  width: auto;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  justify-items: stretch;
 }

.sheet-dice-roll-input button,
.sheet-dice-rolls-roll {
  grid-area: sheet-dice-rolls-roll;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.sheet-dice-rolls-roll button span {
  color: white;
  font-size: 14px;

}

.sheet-dice-preset {
  grid-area: sheet-dice-preset;
  flex: 1;
  padding-right: 10px;
}

.sheet-dice-preset input[type="text"] {
  width: 100%;
}

.sheet-dice-rolls-init {
  display: flex;
  justify-content: flex-end;
  padding-block: 2px;
  grid-area: sheet-dice-rolls-init;
}

.sheet-dice-rolls-d66 {
  display: flex;
  justify-content: flex-end;
  padding-block: 2px;
  grid-area: sheet-dice-rolls-d66;
}

.sheet-dice-rolls-d666 {
  display: flex;
  justify-content: flex-end;
  padding-block: 2px;
  grid-area: sheet-dice-rolls-d666;
}

.sheet-dice-rolls-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px;
  text-align: center;
  grid-area: sheet-dice-rolls-info;
}

.sheet-dice-rolls-smaller {
  height: 17px;
  font-size: 1em !important;
}

.sheet-dice-preset-header {
  font-size: 12px;
  margin-bottom: 0px;
  float: left;
  justify-self: flex-start;
  text-indent: 5px;
}

.sheet-dice-preset-preset {
  text-align: center;
  border-width: 0 1px 1px 1px;
}

.sheet-dice-footer-clear {
  grid-area: sheet-dice-rolls-clear;
}

.sheet-dice-footer-api {
  grid-area: sheet-dice-rolls-api;
}

.sheet-dice-footer-clear,
.sheet-dice-footer-api {
  justify-self: flex-start;
  width: auto;
  align-self: center;
  width: fit-content;
  margin-left: 5px;
}

.sheet-dice-footer-api button[type="action"].sheet-api-button:focus,
.sheet-dice-footer-api button[type="action"].sheet-api-button:focus-visible {
  border-width: 1px;
  border-style: solid;
  border-image: unset;
  color: inherit;
  border: 1px solid lightblue;
  background: var(--color-surface2);
}

/* api dice toggle */
button.sheet-api-button {
  border: 1px solid lightblue;
  box-shadow: 2px 2px 3px darkgrey;
  width: auto;
  justify-self: flex-start;
}

.charsheet .sheet-hidden {
  display: none;
}

.charsheet div.sheet-api-roll.sheet-dice-rolls-roll,
.charsheet div.sheet-template-roll.sheet-dice-rolls-roll,
.charsheet div.sheet-computed-roll.sheet-dice-rolls-roll {
  display: none;
}
input.sheet-hidden.sheet-api-toggle-show:checked ~ div div.sheet-api-roll,
input.sheet-hidden.sheet-api-toggle-show:not(:checked) ~ div .sheet-computed-roll {
  display: flex;
}
.sheet-dice-rolls-roll button::before {
  content: "" !important;
}

input.sheet-hidden.sheet-api-toggle-show:checked
  ~ div div.sheet-api-roll
  button::after {
  margin-right: 2px;
  font-size: 14px;
  content: "(API)";
}

input.sheet-api-toggle-show:checked ~ .sheet-dice-footer-api button {
  background: #a60100;
  color: white;
}

/**** DICE ROLLER STYLING ****/
button[type="action"]:hover,
button[type="action"]:hover>span,
button[type="roll"]:hover {
  color: #fff;
  background: #a60100;
}
.sheet-dice-rolls button[type="action"].sheet-dice-pool {
  padding: 2px 3px;
   font-size: 1.3em;
   margin: 0px 3px 0px 3px;
}

.sheet-dice-rolls button[type="action"].sheet-dice-pool span {
  color: #fff;
  text-transform: capitalize;
}

button[type="action"] > span {
  -font-size: 95%;
  color: #333;
}

input.sheet-dice-selection {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin: -10px 0 2px 3px;
  cursor: pointer;
  opacity: 0;
}

input.sheet-mighty,
input.sheet-epic,
input.sheet-legendary {
  width: 15%;
  margin: 0 -25% 0 0;
}

input.sheet-dice-selection + span::before {
  display: inline-block;
  width: 28px;
  height: 22px;
  margin: -44px 2px 5px 0;
  padding: 5px 0 0 0;
  content: attr(title);
  text-align: center;
  vertical-align: middle;
  color: #000;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;
}

.sheet-dice-artifact-rolls input.sheet-dice-selection + span::before {
  width: 40px;
  margin: 0;
}

span.sheet-artifact-die {
  position: relative;
  margin: 2% 3% 0 -20%;
}

input.sheet-dice-selection:hover+span::before {
  color: #fff;
  background: #a9a9a9;
}

input.sheet-attribute:checked + span::before {
  color: #000;
  background: rgb(235, 212, 4);
}

input.sheet-skill:checked + span::before {
  -color: #fff;
  -background: #a60100;
  color: #fff;
  background: #00a608;
}

input.sheet-gear:checked + span::before {
  color: #fff;
  background: #000;
}

input.sheet-negative:checked + span::before {
  color: #fff;
  background: #c00202;
}

input.sheet-mighty:checked + span::before {
  color: #fff;
  background: #235402;
}

input.sheet-epic:checked + span::before {
  color: #fff;
  background: #0088af;
}

input.sheet-legendary:checked + span::before {
  color: #000;
  background: #ff8c00;
}

/* ROLL TEMPLATE STYLING */

.sheet-rolltemplate-mutantyearzero {
  padding: 12px 0 12px 0;
}

.sheet-rolltemplate-mutantyearzero span.sheet-label {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-wrap {
  box-sizing: border-box;
  width: 240px;
  margin: 5px 0 5px -20px;
  padding: 5px 0 5px 0;
  border: 3px solid #8b3f1f;
  border-radius: 5px;

  background: rgb(124,78,8);
  background: linear-gradient(0deg, rgba(124,78,8,1) 0%, rgba(224,184,15,1) 100%);
  background-image: url('https://s3.amazonaws.com/files.d20.io/images/16289834/HuG1AuH9EWsSI2tLJZubBA/original.png?1455490062');
  background-size: cover;
  }

.sheet-rolltemplate-mutantyearzero div.sheet-template-header {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 105%;
  margin: 2px -9px 2px -9px;
  padding: 0 5px 0 5px;
  word-break: break-word;
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #000;
}
.sheet-rolltemplate-mutantyearzero div.sheet-template-header.sheet-template-span-one,
.sheet-rolltemplate-mutantyearzero div.sheet-template-header.sheet-template-span-two {
  display: inline-block;
  align-content: center;
  align-items: center;
}

.sheet-rolltemplate-mutantyearzero .sheet-push-option a[href^="~"] {
  background-color: #a52a2a;
  border: 3px outset black;
  border-radius: 5px;
  padding-inline: 15px;
  padding-block: 3px;
  margin-top: 3px;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-header a {
  color: #fff;
}
.sheet-rolltemplate-mutantyearzero .sheet-template-header span.inlinerollresult {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  padding: 0;
  cursor: auto;
}

.sheet-rolltemplate-mutantyearzero
  .sheet-template-span-left.sheet-template-header {
  justify-content: center;
  width: 43%;
}

.sheet-rolltemplate-mutantyearzero
  .sheet-template-span-center.sheet-template-header {
  z-index: 1;
}

.sheet-rolltemplate-mutantyearzero
  .sheet-template-span-right.sheet-template-header {
  justify-content: center;
  width: 43%;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid-item.sheet-right {
  justify-self: right;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid-item.sheet-left {
  justify-self: left;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid-item.sheet-condensed {
  -line-height: 1.2em;
  font-size: 0.95em;
}

.sheet-rolltemplate-mutantyearzero
  .sheet-template-grid-item.sheet-template-span-six.sheet-template-header:empty {
  display: none;
}

.sheet-rolltemplate-mutantyearzero div.sheet-template-subtitle {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px 0px -5px;
  padding: 0 2px 0 2px;
  -color: black;
  color: #DDD;
}

/*
.sheet-rolltemplate-mutantyearzero .sheet-template-white-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-white-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-white-dice ~ .sheet-template-span-right,
.sheet-rolltemplate-mutantyearzero .sheet-template-red-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-red-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-red-dice ~ .sheet-template-span-right,
.sheet-rolltemplate-mutantyearzero .sheet-template-black-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-black-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-black-dice ~ .sheet-template-span-right,
.sheet-rolltemplate-mutantyearzero .sheet-template-yellow-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-yellow-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-yellow-dice ~ .sheet-template-span-right,
.sheet-rolltemplate-mutantyearzero .sheet-template-green-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-green-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-green-dice ~ .sheet-template-span-right ,*/
.sheet-rolltemplate-mutantyearzero .sheet-template-dice ~ .sheet-template-span-left,
.sheet-rolltemplate-mutantyearzero .sheet-template-dice ~ .sheet-template-span-center,
.sheet-rolltemplate-mutantyearzero .sheet-template-dice ~ .sheet-template-span-right {
  margin: 5px 1px 0 1px;
  border-radius: 0;
  background-color: #111;
  color: #EEE;
}

.sheet-rolltemplate-mutantyearzero div.sheet-template-footer span,
.sheet-rolltemplate-mutantyearzero div.sheet-template-footer label  {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  color: #CCC;
}
.sheet-rolltemplate-mutantyearzero div.sheet-template-footer {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  -font-size: 0.75em;
  -margin: 5px;
  padding: 2px;
  -text-align: justify;
  text-align: center;
}
.sheet-rolltemplate-mutantyearzero div.sheet-template-footer .sheet-right-align {
  text-align: right;
}

.sheet-rolltemplate-mutantyearzero div.sheet-free-text {
  font-size: 1em;
  line-height: inherit;
  margin: -10px 5px 2px 5px;
  padding: 0;
  text-align: left;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid .sheet-scroll-text {
  font-size: 1em;
  line-height: inherit;
  overflow-y: auto;
  min-height: 1.25em;
  max-height: 6em;
  margin: 0;
  text-align: left;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  display: grid;
  margin: 3px 2px 2px 2px;
  padding: 0;
  background-color: transparent;
  grid-gap: 1px;
  grid-template-columns: repeat(6, 1fr);
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid-item {
  -padding: 0 3px 0 3px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.sheet-template-grid-item.sheet-template-span-six:last-child {
  overflow-y: auto;
  max-height: 6em;
  text-align: left;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-six {
  grid-column: 1 / 7;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-half {
  line-height: 1em;
  grid-column: 1 / 4;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-2nd-half {
  line-height: 1em;
  grid-column: 4 / 7;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-left {
  grid-column: 1 / 3;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-center {
  grid-column: 3 / 5;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-right {
  grid-column: 5 / 7;
}

/* used for consumable's single dice roll */

.sheet-rolltemplate-mutantyearzero .sheet-template-span-center-die {
  width: 38%;
  margin-left: 24%;
  grid-column: 3 / 5;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-one {
  grid-column: 1 / 2;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-two {
  grid-column: 2 / 3;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-three {
  grid-column: 3 / 4;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-four {
  grid-column: 4 / 5;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-five {
  grid-column: 5 / 6;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-span-shix {
  grid-column: 6 / 7;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-success {
  max-width: 100%;
  height: auto;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-bane {
  max-width: 100%;
  height: auto;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-bold {
  font-weight: bold;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-inline {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 0;
  display: inline-block;
  margin: 8px 0 18px 0;
  border: none;
  background-color: transparent;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-smaller {
  font-size: 0.85em;
}

/* add drop shadow to dice */

.sheet-rolltemplate-mutantyearzero .sheet-template-dice {
  margin: 1px;
  box-shadow: -3px 2px 3px #000;
  line-height: 0;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
}

.sheet-rolltemplate-mutantyearzero
  .sheet-template-grid-item.sheet-template-span-six.sheet-template-header {
  margin-bottom: 5px;
  box-shadow: 0 2px 7px #000;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-white-dice {
  border: 1px solid #000;
  background-color: #fff;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-maroon-dice {
  line-height: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #a60100;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-black-dice {
  color: #fff;
  border: 1px solid transparent;
  background-color: #000;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-black-dice .span[title="Bane"] {
  font-family: 'Segoe UI Symbol',symbol;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-green-dice {
  line-height: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #235402;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-blue-dice {
  line-height: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #0088af;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-orange-dice {
  line-height: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #ff8c00;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-yellow-dice {
  color: #000;
  border: 1px solid #000;
  background-color: rgb(235, 212, 4);
}

.sheet-rolltemplate-mutantyearzero .sheet-template-purple-dice {
  line-height: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #800080;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-red-dice {
  color: #fff;
  border: 1px solid #000;
  background-color: #c00202;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-grid-item span.inlinerollresult {
  background-color: transparent;
  border: none;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-dice > span {
  font-family: 'Didact Gothic', 'DidactGothic', Verdana, Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  padding: 0;
  -margin: -4px 0 0 0;
  display: inline-block;
  border: none;
  background-color: transparent;
}

.sheet-rolltemplate-mutantyearzero .sheet-template-green-dice > div > .sheet-template-inline,
.sheet-rolltemplate-mutantyearzero .sheet-template-blue-dice > div > .sheet-template-inline,
.sheet-rolltemplate-mutantyearzero .sheet-template-orange-dice > div > .sheet-template-inline,
.sheet-rolltemplate-mutantyearzero .sheet-template-yellow-dice > div > .sheet-template-inline {
  font-size: 2.25em;
  font-variant: diagonal-fractions;
  text-shadow: 1px 1px 1px black;
}

.sheet-rolltemplate-mutantyearzero .inlinerollresult.fullcrit {
  color: inherit;
  border: none;
}

.sheet-rolltemplate-mutantyearzero .inlinerollresult.fullfail {
  color: inherit;
  border: none;
}

.sheet-rolltemplate-mutantyearzero .inlinerollresult.importantroll {
  color: inherit;
  border: none;
}